<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48111167046-kvf273r6lpe0i1imtbetpnu0dtshac07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48111167046-kvf273r6lpe0i1imtbetpnu0dtshac07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48111167046-b8ft6pjpiuebs1mjsli9gq8nbp22vgpu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaYxxjsokILYrE77E0mzq5RXtZkX3DKqM</string>
	<key>GCM_SENDER_ID</key>
	<string>48111167046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.devalay</string>
	<key>PROJECT_ID</key>
	<string>devalay-417106</string>
	<key>STORAGE_BUCKET</key>
	<string>devalay-417106.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48111167046:ios:198de31b1718d1bac90c47</string>
</dict>
</plist>